@using System.Linq
@model DeveloperViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Developers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployedStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployedStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedApps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedApps)
        </dd>
    </dl>
    
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().AppName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().PublishedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().ModificationDate)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.MobileApps) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificationDate)
                </td>
                <td>
                    <a asp-controller="MobileApp" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="MobileApp" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="MobileApp" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
