@model MobileAppIndexViewModel
@{
    ViewData["Title"] = "Index";
    
}

<h1>Search</h1>
<form asp-action="Index">
    <label>Busca:</label>
    <input type="text" asp-for="@Model.Search" />
    <br />
    <label>Ordenação por Nome:</label>
    <select asp-for="OrderAscendant">
        <option value="@true">Ascendente</option>
        <option value="@false">Descendente</option>
    </select>
    <br />
    <button>go!</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{
    if (Model.MobileApps == null || !Model.MobileApps.Any())
    {
        <p>Nenhum Autor cadastrado :(</p>
        return;
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().AppName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().PublishedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().ModificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileApps.First().Developer.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MobileApps)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
